body {
    .login-content {
        float: none !important;
        margin: 5% auto;
    }

    .login-form-1 {
        .login-button {
            margin-top: 15px;
        }
    }
    .right_col {
        height: 100vh;
    }
    .img-circle.profile_img {
        width: 50px;
        height: 50px;
        padding: 1px;
    }
    .sidebar-footer a {
        width: 100%;
        cursor: pointer;
    }

    .vertical-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
        pointer-events:none;
    }
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events:none;
    }
    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width:inherit;
        height:inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events:all;
    }

    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        vertical-align: middle;
    }

    .form-group {
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        .control-label {
            padding-top: 8px;
            border-top: 1px solid #ccc;
        }
        &:first-child .control-label {
            border-top: none;
        }
    }
    .status-label {
        margin-top: 5px;
    }
    .daterangepicker.dropdown-menu {
        z-index: 10240;
    }
    .status-label {
        padding-right: 15px;
    }
    .status-label span {
        padding-left: 5px;
        padding-top: 1px;
        display: inline-block;
    }

    .main-list-view {
        user-select: none;
    }
    
    .container-404 {
        .content-404 {
            margin: 0 auto;
            float: none !important;
        }
    }
    
    .page-name-content {
        color: $darkRed;
        margin-bottom: 15px;
        .module-name {
            color: $defaultColor;
            font-size: 23px;
            padding-right: 5px;
        }
        .page-name {
            color: $darkGray;
            padding-left: 2px;
        }
    }
    textarea.wysi {
        width: 100%;
    }
    .container {
        .table-container {
            span.fa {
                display: block;
            }
        }
    }
    
    /*about-panels*/
    .profile-list-container {
        .panel_toolbox {
            min-width: inherit;
        }
        article {
            padding: 5px 2px;
            box-sizing: border-box;
            &.active-row {
                background: #b5ffa7;
                background: rgba(0,255,0,.2);
            }
            .profile {
                img {
                    width: 50px;
                }
            }
        }
    }
    /*about-panels END*/
}